@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PoorRichard';
    src: local('PoorRichard'),
        url('/assets/fonts/PoorRichardOpti.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('/assets/fonts/poppins/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('/assets/fonts/poppins/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('/assets/fonts/poppins/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.slider-container {
    position: relative;
    /* width: 80%; */
    margin: 0 auto;
    /* overflow: visible;/ */
    overflow: hidden;
}

.slick-slide {
    /* opacity: 0.5; */
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* overflow: visible; */
    /* margin: 0 25px; */
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-center {
    opacity: 1;
    /* transform: scale(1.4); */
    overflow: visible;
}

.slick-prev,
.slick-next {
    z-index: 1;
    /* background-color: red; */
    /* display: none; */
}

.slide {
    padding: 10px;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.slide h3 {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.slick-list {
    padding: 40px 24% !important;
}

/*  */

@media (min-width: 1024px) {
    .slick-slide {
        display: flex !important;
        align-items: center;
        justify-content: center;
        /* width: auto !important; */
        /* margin: 0 25px; */
        /* width: 214px !important; */
    }
}